body,
html {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
  font-family: "Roboto Mono", monospace;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-button {
  width: 62px;
  height: 62px;
  /* background-image: url('search.png'); */
  border: 2px solid rgb(75, 151, 75);
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
}

.header__title {
  padding: 0;
  margin: 0;
}
.header__link {
  text-decoration: none;
  color: #313131;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
.header__button {
  background-color: white;
  border: 3px solid rgb(75, 151, 75);
  border-radius: 5px;
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #313131;
}
.person {
  background-color: white;
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #313131;
  margin-top: 3px;
}
.header__search {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.header__buttons {
  display: flex;
  gap: 25px;
}
.header__button:hover {
  border: 3px solid rgb(146, 0, 0);
  color: rgb(146, 0, 0);
}

.header:active {
  color: #313131;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  /* justify-content: space-between; */
}

.main {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.filter {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  /* position: absolute; */
  position: relative;
  background-color: white;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  border-radius: 5px;
  padding: 30px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  width: 80%;
}

.filter--hidden {
  display: none;
}

.field-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  box-sizing: border-box;
  background-color: white;
  width: 50%;
  max-width: 575px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
  font-weight: 400;
  justify-content: space-between;
  font-size: 18px;
}
.show-more {
  background-color: white;
  border: 3px solid rgb(75, 151, 75);
  width: 300px;
  height: 70px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}

.show-more:hover {
  border: 3px solid rgb(146, 0, 0);
  color: rgb(146, 0, 0);
}

.field {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  color: grey;
}
.gap {
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}

.filter-span {
  margin-bottom: 10px;
}

.img {
  width: 535px;
  height: 300px;
}

.leftPart {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rightPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  justify-content: space-between;
  display: flex;
}

.search-input {
  padding: 20px;
  font-size: 25px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  font-family: "Roboto Mono", monospace;
}

.close-button {
  background-color: white;
  border: 3px solid rgb(75, 151, 75);
  border-radius: 5px;
  height: 50px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #313131;
  align-items: center;
  padding: 4px;
  position: absolute;
  right: 30px;
}
.close-button:hover {
  border: 3px solid rgb(146, 0, 0);
  color: rgb(146, 0, 0);
}

.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.label:hover {
  cursor: pointer;
  font-weight: 500;
}

.balcony-checkbox,
.room {
  width: 20px;
  height: 20px;
}
.balcony {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.balcony:hover {
  box-shadow: 0 0 20px 3px rgba(255, 0, 0, 1);
}
.rooms {
  gap: 20px;
  align-items: center;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-input:focus {
  outline: none;
  border-color: rgb(75, 151, 75);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.card--hidden {
  display: none;
}

.about-text {
  display: flex;
  text-align: center;
}

.about--hidden {
  display: none;
}
.submit {
  display: flex;
  padding: 10px;
  width: 50%;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  background-color: rgb(75, 151, 75);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  font-family: "Roboto Mono", monospace;
  margin-top: 20px;
}

.submit:hover {
  background-color: rgb(146, 0, 0);
}

.hidden {
  display: none;
}

.wishlist__empty {
  background-image: url("../img/heartempty.png");
}

.wishlist__pull {
  background-image: url("../img/heartpull.png");
}
.wishlist__button {
  background-image: url("../img/heartempty10.png");
  background-color: white;
  background-repeat: space;
  border: 3px solid rgb(75, 151, 75);
  border-radius: 5px;
  height: 55px;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #313131;
  position: absolute;
  right: 20px;
}

.wishlist__button:hover {
  border: 3px solid rgb(146, 0, 0);
  color: rgb(146, 0, 0);
}

.wishlist {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-repeat: no-repeat;
  background-origin: border-box;
  border: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.wishlist:hover {
  cursor: pointer;
}

.oops {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  max-width: 1000px;
}

.hidden {
  display: none;
}

@media (max-width: 1550px) {
  .list {
    flex-direction: column;
    width: auto;
  }
  .card {
    width: 100%;
  }
}

/* .list {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  /* justify-content: space-between; */
