body,
html {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
  font-family: "Roboto Mono", monospace;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.signup-input {
  padding: 20px;
  font-size: 25px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  font-family: "Roboto Mono", monospace;
}

.signup-button {
  width: 100%;
  padding: 20px;
  font-size: 25px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  font-family: "Roboto Mono", monospace;
}
.signup-button:hover {
  background-color: #b22222;
}
.signup-input:focus {
  outline: none;
  border-color: #2e8b57;
}

.header__title {
  padding: 0;
  margin: 0;
}
.header__link {
  text-decoration: none;
  color: #313131;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100px;
  background-color: white;
}
.header__button {
  background-color: white;
  border: 3px solid #2e8b57;
  border-radius: 5px;
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #313131;
}

.header__buttons {
  display: flex;
  gap: 25px;
}
.header__button:hover {
  border: 3px solid #b22222;
  color: #b22222;
}
.header__button:active {
  color: #313131;
}

.error {
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  /* position: absolute; */
  padding: 10px;

  background-color: white;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 0 7px 1px rgb(139, 139, 139);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 70px;
  /* margin-left: -3px; */
}

.signH {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
